body {
  background-image: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.add-button {
  height: 50px;
  width: 50px;
}

.login {
  width: 50px;
  height: auto;
}

.googleImg {
  height: 60px;
  width: auto;
  margin-left: 15px;
}

.navBar{
  background-color:rgba(255, 228, 196, 0.44);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 60px;
}
.navBar__title{
  font-size: 40px;
}

.affirmCard{
  padding: 40px
}

.affirmTitle{
  text-align: center;
  font-size: 25px;
}

.affirmName{
  text-align: right;
}